.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.github/**
docs/**
.cocoindex_code/**
images/agetnt_off.png
images/status_run32.png
images/status_run_grey32.png
images/mcp32.png
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.serena/**
